<div class="container"> 


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>

    </ol>
  </nav>

<product></product>
</div>

