<div class="mat-elevation-z8">
  <ul>
    <td>
    <li *ngFor="let arti of article ">{{arti.name}}  {{arti.description}}  {{arti.time}}<div align="right"><a (click)="deleteArticle(arti._id)"> <i class="material-icons" > delete</i></a></div><hr></li>
    </td>
  </ul>


</div>
